# Dependências do Node.js
node_modules/

# Arquivos de Yarn
.yarn/*
!.yarn/cache/
!.yarn/releases/
!.yarn/plugins/
!.yarn/sdks/
!.yarn/versions/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de compilação
dist/
build/

# Configurações locais de IDE/Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações de ambiente
.env
.env.local
.env.*.local

# Cache de ESLint
.eslintcache

# Arquivos de saída de teste
coverage/

# Arquivos temporários
*.log
*.tmp
*.temp
*.bak
*.swp
*.lock

# Outras exclusões
*.tgz
package-lock.json
